@model IEnumerable<LibreriaBD.RESENIAS>

@{
    ViewBag.Title = "Resenia";
}


<link href="~/Content/EstiloResenia.css" rel="stylesheet" />
<link href="~/Content/DataTable/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTable/css/datatables.min.css" rel="stylesheet" />
<link href="~/Content/DataTable/css/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>

<div class="contenedor">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Reseñas</h4>
                <hr />
                <a href="@Url.Action("CrearResenia","Libreria")" class="btn btn-success btn-sm">Crear Reseña</a>
                <hr />
            </div>
            <div class="panel-body">


                <!-- Tabla de Reseñas-->

                <table class="table" id="DtResenia">
                    <thead>
                        <tr>


                            <th>Reseña</th>
                            <th>Comentario</th>
                            <th>Calificación</th>
                            <th>Libro</th>
                            <th>Usuario</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (LibreriaBD.RESENIAS item in Model)
                            {
                                <tr>


                                    <td>@item.resenia</td>
                                    <td>@item.comentario</td>
                                    <td>@item.calificacion</td>
                                    <td>@item.idLibro</td>
                                    <td>@item.idUsuario</td>
                                    <td>
                                        <a href="@Url.Action("EditarResenia", "Libreria", new { id = @item.id })" class="btn btn-success btn-sm">Editar</a>
                                    </td>
                                    <td>
                                        <a href="#" class=" btn-delete btn btn-danger btn-sm " data-id="@item.id" data-dismiss="modal" data-toggle="modal"  data-target="#modal-confirm" >Eliminar</a>
                                    </td>


                                </tr>
                            }

                        }

                    </tbody>
                </table>


            </div>

            <!--Ventana Modal-->

            <div id="modal-confirm" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmar Eliminación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Desea Eliminar este Elemento?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btn-confirm-delete" class="btn btn-danger btn-sm  btnEliminar">Si</button>
                            <button type="button" id="btn-cancel-delete"  class="btn btn-secondary btn-sm btnEliminar" data-dismiss="modal">Cancelar</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>      

    </div>
</div>


<script src="~/Content/DataTable/js/jquery-3.7.0.min.js"></script>
<script src="~/Content/DataTable/js/jquery.dataTables.min.js"></script>
<script src="~/Content/DataTable/js/dataTables.responsive.min.js"></script>
<script src="~/Content/DataTable/js/datatables.min.js"></script>
<script src="~/Content/DataTable/js/dataTables.bootstrap5.min.js"></script>
<script src="~/Content/DataTable/js/responsive.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/codigoResenia.js"></script>
