@model IEnumerable<LibreriaBD.RESENIAS>

@{
    ViewBag.Title = "Resenia";
}


<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/DataTable/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTable/css/datatables.min.css" rel="stylesheet" />
<link href="~/Content/DataTable/css/responsive.dataTables.min.css" rel="stylesheet" />


<div class="contenedor">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Reseñas</h4>
                <hr />
                <a href="@Url.Action("CrearResenia","Libreria")" class="btn btn-success btn-sm">Crear Reseña</a>
                <hr />
            </div>
            <div class="panel-body">


                <!-- Tabla de Reseñas-->

                <table class="table" id="DtResenia">
                    <thead>
                        <tr>

                            <th>Id</th>
                            <th>Reseña</th>
                            <th>Comentario</th>
                            <th>Calificación</th>
                            <th>Libro</th>
                            <th>Usuario</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (LibreriaBD.RESENIAS item in Model)
                            {
                                <tr>

                                    <td>@item.id</td>
                                    <td>@item.resenia</td>
                                    <td>@item.comentario</td>
                                    <td>@item.calificacion</td>
                                    <td>@item.idLibro</td>
                                    <td>@item.idUsuario</td>
                                    <td>
                                        <a href="@Url.Action("EditarResenia", "Libreria", new { id = @item.id })" class="btn btn-success btn-sm">Editar</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EliminarResenia", "Libreria", new { id = @item.id })" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>


                                </tr>
                            }

                        }

                    </tbody>
                </table>


            </div>
        </div>

    </div>
</div>


<script src="~/Content/DataTable/js/jquery-3.7.0.min.js"></script>
<script src="~/Content/DataTable/js/jquery.dataTables.min.js"></script>
<script src="~/Content/DataTable/js/dataTables.responsive.min.js"></script>
<script src="~/Content/DataTable/js/datatables.min.js"></script>
<script src="~/Content/DataTable/js/dataTables.bootstrap5.min.js"></script>
<script src="~/Content/DataTable/js/responsive.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/codigoResenia.js"></script>
